{% extends 'base.html' %}
{% load static %}

{% block title %}Домашняя | Теплотрон{% endblock %}

{% block content %}

<main>


{#    <!-- Services Area Start -->#}
{#    <div class="services-area1 section-padding30">#}
{#        <div class="container">#}
{#            <!-- section tittle -->#}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <div class="section-tittle mb-55 pt-55">#}
{#                        <div class="front-text">#}
{#                            <h2 class="">Что мы можем предложить?</h2>#}
{#                        </div>#}
{#                        <span class="back-text">Услуги:</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                {% for s in services %}#}
{#                    {% include 'services/service_item.html' %}#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- Services Area End -->#}

    <!-- News Start -->
    <div class="mynews-area mynews-padding mt-115">
        <div class="container">
           <div class="row">
                <div class="col-xl-12 col-lg-11 col-md-10 offset-xl-12">
                    <div class="h1-mynews-active">
                        {% for n in news %}
                            {% include 'news/news_item.html' %}
                        {% endfor %}
                    </div>
                </div>
           </div>
        </div>
    </div>
    <!-- News End -->

    <!-- Services_slider Start -->
    <div class="myservices-area myservices-padding">
        <div class="container ">
           <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle mb-35">
                        <span class="back-text">Услуги:</span>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-11 col-md-10 offset-xl-12">
                    <div class="h1-myservices-active">
                        {% for c in services %}
                            <!-- Single Testimonial -->
                            <div class="single-myservices">
                                 <!-- Testimonial Content -->
                                <div class="myservices-caption ">
                                    <div class="myservices-top-cap">
                                        <a href="{{ c.get_absolute_url }}"><img src="{% if c.image %}{{ c.image.url }}{% else %}{% static "working/img/team/no_image_available.jpg" %}{% endif %}" alt=""></a>
{#                                        <p>{{ c.name }}</p>#}
                                    </div>
                                    <!-- founder -->
                                    <div class="myservices-founder d-flex align-items-center">
                                        <div class="founder-text">
                                            <span>{{ c.name }}</span>
                                            <a href="{{ c.get_absolute_url }}"><p>{{ c.description|truncatechars:75 }}</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
           </div>
        </div>
    </div>
    <!-- Services_slider End -->

    <!-- About_us Area Start -->
    <section class="support-company-area fix pb-75 mt-55">
        <div class="support-wrapper align-items-end">
            {% for a in about_us %}
                {% include 'about_us/about_us_item.html' %}
            {% endfor %}
        </div>
    </section>
    <!-- About Area End -->

</main>

{% endblock content %}