{% extends 'base.html' %}
{% load static %}

{% block title %}{{ service.name }}{% endblock %}

{% block content %}

<main>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="{% if service.image %}{{ service.image.url }}{% else %}{% static "working/img/hero/about.jpg" %}{% endif %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-8">
                        <div class="hero-cap pt-100">
{#                        <h2>{% if portfolio %}{{ portfolio.name }}{% else %}Галлерея{% endif %}</h2>#}
                        <nav aria-label="breadcrumb ">
                            <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Домой</a></li>
                            <li class="breadcrumb-item"><a>{{ service.name }}</a></li>
                            </ol>
                        </nav>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!-- Services Details Start -->
    <div class="services-details-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="single-services pt-55 pb-55">
                        <div class="details-caption">
                            {% if service.tittle %}
                                <p>{{ service.tittle|safe }}</p>
                            {% endif %}
                            {% if service.description %}
                                <p>{{ service.description|safe }}</p>
                            {% endif %}
                            <h3>Остались вопросы?</h3>
                            <p>Позвоните нам или свяжитесь с нами по почте. Мы всегда рады Вам! Наши специалисты предлагают Вам сотрудничество по оказанию услуг в сфере обслуживания, проектирования, монтажа, строительства блок-модульных котельных под ключ, строительства инженерных сетей, наружных и внутренних газопроводов, пуско-наладочных работ теплотехнического и газоиспользующего оборудования, ремонт и замена устаревшего оборудования котельных, ЦТП, инженерных сетей.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Details End -->

</main>

{% endblock %}